{% if rsyslog_logrotate_files != None %}
{% for logrotate_file in rsyslog_logrotate_files|unique|sort %}
{{ logrotate_file }}
{% endfor %}
{% endif %}
{
        size {{ rsyslog_logrotate_size }}
        daily
        rotate {{ rsyslog_logrotate_rotate }}
        missingok
        notifempty
        delaycompress
        compress
        sharedscripts
        postrotate
                service rsyslog restart
        endscript
}
